In [1]:
import pandas as pd
import numpy as np
df = pd.read_excel("USFoodPrice.xlsx")

In [2]:
df

,City,Bread,Burger,Milk,Oranges,Tomato
0,Atlanta,24.5,94.5,73.9,80.1,41.6
1,Baltimore,26.5,91.0,67.5,74.6,53.3
2,Boston,29.7,100.8,61.4,104.0,59.6
3,Buffalo,22.8,86.6,65.3,118.4,51.2
4,Chicago,26.7,86.7,62.7,105.9,51.2
5,Cincinnati,25.3,102.5,63.3,99.3,45.6
6,Cleveland,22.8,88.8,52.4,110.9,46.8
7,Dallas,23.3,85.5,62.5,117.9,41.8
8,Detroit,24.1,93.7,51.5,109.7,52.4
9,Honolulu,29.3,105.9,80.2,133.2,61.7
10,Houston,22.3,83.6,67.8,108.6,42.4
11,Kansas City,26.1,88.9,65.4,100.9,43.2
12,Los Angeles,26.9,89.3,56.2,82.7,38.4
13,Milwakee,20.3,89.6,53.8,111.8,53.9
14,Minneapolis,24.6,92.2,51.9,106.0,50.7
15,New York,30.8,110.7,66.0,107.3,62.6
16,Philadelphia,24.5,92.3,66.7,98.0,61.7
17,Pittsburgh,26.2,95.4,60.2,117.1,49.3
18,St. Louis,26.5,92.4,60.8,115.1,46.2
19,San Diego,25.5,83.7,57.0,92.8,35.4
20,San Franscisco,26.3,87.1,58.3,101.8,41.5
21,Seattle,22.5,77.7,62.0,91.1,44.9
22,"Washington, DC",24.2,93.8,66.0,81.6,46.2
23,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN
25,Source : Estimated Retail Food Prices by Citie...,NaN,NaN,NaN,NaN,NaN
26,"U.S. Department of Labor, Bureau of Labor Sta...",NaN,NaN,NaN,NaN,NaN

In [3]:
#Drop NA
df = df.dropna()
df

             City   Bread   Burger  Milk   Oranges  Tomato
0          Atlanta    24.5    94.5   73.9     80.1     41.6
1        Baltimore    26.5    91.0   67.5     74.6     53.3
2           Boston    29.7   100.8   61.4    104.0     59.6
3         Buffalo     22.8    86.6   65.3    118.4     51.2
4          Chicago    26.7    86.7   62.7    105.9     51.2
5       Cincinnati    25.3   102.5   63.3     99.3     45.6
6        Cleveland    22.8    88.8   52.4    110.9     46.8
7          Dallas     23.3    85.5   62.5    117.9     41.8
8          Detroit    24.1    93.7   51.5    109.7     52.4
9         Honolulu    29.3   105.9   80.2    133.2     61.7
10         Houston    22.3    83.6   67.8    108.6     42.4
11     Kansas City    26.1    88.9   65.4    100.9     43.2
12     Los Angeles    26.9    89.3   56.2     82.7     38.4
13        Milwakee    20.3    89.6   53.8    111.8     53.9
14     Minneapolis    24.6    92.2   51.9    106.0     50.7
15        New York    30.8   110.7   66.0    107.3     62.6
16    Philadelphia    24.5    92.3   66.7     98.0     61.7
17      Pittsburgh    26.2    95.4   60.2    117.1     49.3
18       St. Louis    26.5    92.4   60.8    115.1     46.2
19       San Diego    25.5    83.7   57.0     92.8     35.4
20  San Franscisco    26.3    87.1   58.3    101.8     41.5
21         Seattle    22.5    77.7   62.0     91.1     44.9
22  Washington, DC    24.2    93.8   66.0     81.6     46.2

In [4]:
X = df.iloc[::, 1:6].values
X

array([[ 24.5,  94.5,  73.9,  80.1,  41.6],
       [ 26.5,  91. ,  67.5,  74.6,  53.3],
       [ 29.7, 100.8,  61.4, 104. ,  59.6],
       [ 22.8,  86.6,  65.3, 118.4,  51.2],
       [ 26.7,  86.7,  62.7, 105.9,  51.2],
       [ 25.3, 102.5,  63.3,  99.3,  45.6],
       [ 22.8,  88.8,  52.4, 110.9,  46.8],
       [ 23.3,  85.5,  62.5, 117.9,  41.8],
       [ 24.1,  93.7,  51.5, 109.7,  52.4],
       [ 29.3, 105.9,  80.2, 133.2,  61.7],
       [ 22.3,  83.6,  67.8, 108.6,  42.4],
       [ 26.1,  88.9,  65.4, 100.9,  43.2],
       [ 26.9,  89.3,  56.2,  82.7,  38.4],
       [ 20.3,  89.6,  53.8, 111.8,  53.9],
       [ 24.6,  92.2,  51.9, 106. ,  50.7],
       [ 30.8, 110.7,  66. , 107.3,  62.6],
       [ 24.5,  92.3,  66.7,  98. ,  61.7],
       [ 26.2,  95.4,  60.2, 117.1,  49.3],
       [ 26.5,  92.4,  60.8, 115.1,  46.2],
       [ 25.5,  83.7,  57. ,  92.8,  35.4],
       [ 26.3,  87.1,  58.3, 101.8,  41.5],
       [ 22.5,  77.7,  62. ,  91.1,  44.9],
       [ 24.2,  93.8,  66. ,  81.6,  46.2]])

In [5]:
Y = df.iloc[::, 0].values
Y

array(['Atlanta', 'Baltimore', 'Boston', 'Buffalo ', 'Chicago',
       'Cincinnati', 'Cleveland', 'Dallas ', 'Detroit', 'Honolulu',
       'Houston', 'Kansas City', 'Los Angeles', 'Milwakee', 'Minneapolis',
       'New York', 'Philadelphia', 'Pittsburgh', 'St. Louis', 'San Diego',
       'San Franscisco', 'Seattle', 'Washington, DC'], dtype=object)

In [9]:
from sklearn.preprocessing import StandardScaler
X_std = StandardScaler().fit_transform(X)

In [10]:
from sklearn.decomposition import PCA
pca = PCA(n_components=5)
pca.fit(X_std)

PCA(copy=True, iterated_power='auto', n_components=5, random_state=None,
  svd_solver='auto', tol=0.0, whiten=False)

In [11]:
pca.explained_variance_

array([2.53258013, 1.15488739, 0.77204783, 0.5160482 , 0.25170918])